<link rel="stylesheet" href="/inventoria/_design/inventoria/style/main.css" type="text/css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/sha1.js"></script>
<script src="/_utils/script/jquery.couch.js?0.11.0"></script>
<!-- TODO: remove? -->
<script src="/inventoria/_design/inventoria/js/form/jquery.form.js"></script>
<script src="/inventoria/_design/inventoria/js/inventoria.js"></script>

