<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/inventoria/_design/inventoria/style/main.css" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="/_utils/script/json2.js"></script>
	<script src="/_utils/script/sha1.js"></script>
	<script src="/_utils/script/jquery.couch.js?0.11.0"></script>
	<script src="/inventoria/_design/inventoria/js/form/jquery.form.js"></script>
	<script src="/inventoria/_design/inventoria/js/inventoria.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
	<header id="top">
	  <h1>Inventoria</h1>

	  <form id="login" action="/_session" method="post">
		<input type="text" name="name">
		<input type="password" name="password">
		<input class="button login" type="submit" value="Logga in">
	  </form>

	  <div id="controlBar">
		<span class="username"></span>
		<button class="button logout">Logout</button>
	  </div>

	  <nav>
		<a href="/inventoria/_design/inventoria/index.html">Search</a>
		<a href="/inventoria/_design/inventoria/_show/add">Add Item</a>
		<a href="/inventoria/_design/inventoria/_show/signup">Signup</a>
	  </nav>

	</header>
