<div id="content">
  <form id="addItem" action="">		
	<div class="inputRow">
	  <input class="key readonly" type="text" value="city">
	  <input class="value" type="text" name="city">
	</div>
	<div class="inputRow">
	  <input class="key readonly" type="text" value="item">
	  <input class="value" type="text" name="item">
	</div>
	<input id="submitInventory" class="last" type="submit" value="Save Item">
  </form>

  <!-- upload image -->
  <!--
	  <form id="uploadImage" action="http://127.0.0.1:8888/" method="post" enctype="multipart/form-data">
		<input type="file" name="image">
	  </form>
	  -->
</div>	
