<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	{{{html_css_js}}}
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
	<script src="/inventoria/_design/inventoria/js/inventoria.item.js"></script>
	<title>{{title}}</title>
  </head>
  <body onload="initializeMap({{latitude}}, {{longitude}})">

	{{{html_header}}}

	<div class="section inputs">
	  <form id="search" method="post" action="#">
		<p>
		  <input id="searchString" type="text" value="">
		  <button type="submit">Search</button>
		</p>
	  </form>
	</div>

	<div class="section outputs">
	  <table id="searchResults">
		
	  </table>
	</div>

	<div class="section content">
	  <div id="itemDocument">
		<img id="itemImage" class="right" src="{{image}}">
		<h1>{{title}}</h1>
		<div class="clear"></div>
		<table class="itemData">
		  {{#item}}
		  <tr>
			<td>{{field}}</td><td>{{value}}</td>
		  </tr>
		  {{/item}}
		</table>

		<div id="mapCanvas"></div>
		
	  </div>
	</div>
  </body>
</html>
