<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>{{föremål}} : {{stad}}</title>
    <link rel="stylesheet" href="style/main.css" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="/_utils/script/json2.js"></script>
	<script src="/_utils/script/jquery.couch.js?0.11.0"></script>
	<script src="js/form/jquery.form.js"></script>
	<script src="js/inventoria.js"></script>
  </head>
  <body>
	{{#items}}
	{{field}}, {{value}} <br>
	{{/items}}
  </body>
</html>
	
