body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 2em;
}

header#top {
	background: #D18A38;
	overflow: hidden;
	margin-bottom: 10px;
}

nav {
	float: left;
	width: 62%;
	overflow: hidden
}

nav a {
	float: left;
	width: 25%;
	padding: 25px 0;
	display: block;
	text-align: center;
	border-right: 1px solid #e3b56a;
}
nav a, nav a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

header#top h1 { display: inline }

#content {
	margin: 0 20px;
}

/** Sections */															
.section {
	padding: 0 20px 10px;
	margin-bottom: 20px;
}
.section.inputs {
	background: #f4f4f4;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.section.outputs {
	border-bottom: 1px solid #e0e0e0;
}
.section.content { border-bottom: 1px solid #e0e0e0; }
.section.login { background: #D18A38; }

/** Forms */
input, button { font-size: 1em }

form small { display: block; font-style: italic; }
form label small { display: inline; }
form label, form th label small { display: block; }
form button { display: block; }

/** Search */
#search input { width: 100% }

#searchResults img { width: 100px }

/** Add item */
#addItem { margin-top: 10px }
.inputRow input {
	margin: 0 0 5px 0;
	border: none;
	border-bottom: 2px dotted #CED4CA;
	background: #f7f1d4;
} 
.key { width: 20% }
.value { width: 70% }

/** Item Page */
#itemDocument {
	margin-right: 10%;
	padding: 20px;
	background: #F0E9C6;
	overflow: hidden;
	-moz-box-shadow: 5px 5px 9px #575559;
	-webkit-box-shadow: 5px 5px 9px #575559;
	box-shadow: 5px 5px 9px #575559;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color='#575559')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color='#575559');
}
#itemDocument h1 { font-size: 1.5em }
.itemData { width: 100% }
.itemData td { border-bottom: 1px solid #CED4CA }

/** Login */
#loginBox {
	float: left;
}
#loginBox label { color: white }

#controlBar button.logout { float: right }

.clear { clear: both }
.left { float: left }
.right { float: right }
